/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
 $phone:            'screen and (max-width: 767px)';
 $tablet:           'screen and (min-width: 768px) and (max-width: 1023px)';
 $tablet-and-up:    'screen and (min-width: 768px)';
 $tablet-portrait:  'screen and (min-width: 768px) and (max-width: 959px)';
 $tablet-landscape: 'screen and (min-width: 960px) and (max-width: 1023px)';
 $lap:              'screen and (min-width: 1024px) and (max-width: 1219px)';
 $lap-and-up:       'screen and (min-width: 1024px)';
 $desk-and-up:      'screen and (min-width: 1220px)';
 $lap-and-desk:     'screen and (min-width: 1024px) and (max-width: 1679px)';
 $wide-and-up:      'screen and (min-width: 1680px)';
 
@define-mixin atSmall {
  @media screen and (min-width: 530px) and (max-width: 767px) {
    @mixin-content;
  }
}

@define-mixin tabletAndUp {
  @media screen and (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin laptop {
  @media screen and (min-width: 1024px) and (max-width: 1219px) {
    @mixin-content;
  }
}

@define-mixin laptopAndUp {
  @media screen and (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin desktopAndUp {
  @media screen and (min-width: 1220px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}