.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  
  &--medium {
    max-width: 976px;
  }
  
  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;
    
    @mixin tabletAndUp {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  
  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;
    
    @mixin laptopAndUp {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  
  .wrapper {
    padding: 0 0;
  }
  
  &--b-margin {
    margin-bottom: 2.0rem;
    
    @mixin tabletAndUp {
      margin-bottom: 3.875rem;
    }
  }
}